
.mainCard{
  margin-left:  10rem;
  margin-right: 10rem;
  margin-bottom: 1rem;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 2em;
}

@media (max-width:580px) {
  .mainCard{
    width: 22rem;
    margin-top: 1rem;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2em;
    margin-left: 5.7rem;
  }
  
}


@media (max-width:470px) {
  .mainCard{
    width: 20rem;
    margin-top: 1rem;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2em;
    margin-left: 3rem;
  }
  
}
